.projects {
// background-color: green;

// padding: auto;
// height: auto;
// width: auto;
margin-left: 100px;
margin-right: 50px;
// overflow-x: hidden;
// overflow-y: auto;

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: lightgray;
width: auto;
height: 550px;
overflow-x: hidden;
overflow-y: auto;
text-align: center;
padding: 20px;
}

.title{
    font-family: Impact;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 72px;
}