.projects {
background-color: green;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
justify-items: center;
background-color: lightgray;
padding: auto;
height: auto;
width: auto;
margin-left: 100px;
margin-right: 50px;

}

.title{
    font-family: Impact;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 72px;
}