.project-title{
    font-size: 36px;
    color: rgb(0, 0, 153);
    margin: 50px;
}

.thumbnail{
    height: 100px;
}

.project-description{
 color: green;
}

.project-stack{
 color: skyblue;
}

.spacer{
    width: 10px;
}