.project-card{
    
}

.project-title{
    // text-shadow: 7px 6px 10px rgb(115, 115, 115);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    font-size: xx-large;
    // color: rgb(95, 95, 95);
    margin: 15px;
}

.thumbnail{
    // height: 120px;
}

.project-description{
    font-size: large;
    white-space: pre-line;
    margin: 5px;
    text-align: left;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h2{
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style-type: none;
}

.project-stack{
max-height: 100px;
display: flex;  
flex-wrap: wrap;
flex-direction: column;
justify-content: space-evenly;
font-size: small;
text-align: left;
font-weight: 600;
font-family: 'Courier New', Courier, monospace;
color: black;
margin-top: 0;
}

.project-actions{  
display: flex;
justify-content: space-evenly;
}