.resume-div{
position:absolute;
top: 5%;
right: 3.5%

}

.resume{
  opacity: 0;
  animation: fadeIn 3s 3s forwards;

}
iframe {
  -moz-transform: scale(.8, .8); 
  -webkit-transform: scale(.8, .8); 
  -o-transform: scale(.8, .8);
  -ms-transform: scale(.8, .8);
  transform: scale(.8, .8); 
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}