.home-page {

  

  img {
    // margin-left: 20px;
    opacity: 0;
    padding-left: 50%;
    padding-top: 10%;
    width: 375px;
    height: auto;
    // animation: ease-in 1s linear both;
    animation: fadeIn 3s linear both;
    animation-delay: 3s;
  }

    .text-zone {
      position: absolute;
      left: 12%;
      top: 50%;
      width: 70%;
      max-height: 90%;
    }
    
  
    h1 {
      color: #fff;
      font-size: 56px;
      line-height: 57px;
      margin: 0;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-weight: 300;
      // animation: pulse 1s;
      animation: fadeIn 1s backwards;
      &:nth-of-type(1) {
        animation-delay: 2s;
      }
      &:nth-of-type(2) {
        animation-delay: 3s;
      }
      &:nth-of-type(3) {
        animation-delay: 4s;
      }
      
  
      // &:before {
      //   content: '<';
      //   font-family:Verdana, Geneva, Tahoma, sans-serif;
      //   color: #ffd700;
      //   font-size: 18px;
      //   position: absolute;
      //   margin-top: -40px;
      //   left: -15px;
      //   opacity: 0.6;
      //   animation: fadeIn 1s 1.7s backwards;
      //   opacity: .8;
      // }
  
      // &:after {
      //   content: '/>';
      //   font-family: Verdana, Geneva, Tahoma, sans-serif;
      //   color: #ffd700;
      //   font-size: 18px;
      //   position: absolute;
      //   margin-top: 18px;
      //   margin-left: 20px;
      //   animation: fadeIn 1s 1.7s backwards;
      //   opacity: .8;
      // }
  
     
    }:hover{
      // color: #ffd700; 

    }
    h2 {
      color: #ffffff;
      margin-top: 20px;
      font-size: 14px;
      letter-spacing: 2px;
      animation: fadeIn 2s 3s backwards;
      animation-delay: 4.5s;
    }
  
    .flat-button {
    
      color: #ffd700;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 5px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid #ffd700;
      margin-top: 25px;
      float: left;
      animation: fadeIn 2s 3s backwards;
      animation-delay: 6s;
      white-space: nowrap;
  
      &:hover {
        transition: .25s;
        // animation: pulse 1s backwards;
        // opacity: 1;
        transform: scale(1.1);
        background: #ffd700;
        color: #333;
        border: 1px solid #333;
      }
    }
  }

  